{% extends 'base.html' %}

{% block title %}Login To Store{% endblock %}

{% block content %}

<div id="content">

  <div style="container-fluid">
    <div class="row justify-content-center  align-items-center" style="margin-top: 30px; margin-bottom: 100px;">
      <!-- Material form login -->
      <div class="col-md-6">
        <!-- Card -->
        <div class="card">

          <!-- Card body -->
          <div class="card-body">

            <form action="?" method="POST" onsubmit="register();return false;">
              <h4 class="h4 text-center py-4 card-title primary-color" style="color: white">Register</h4>

              <!-- Material input text -->
              <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="uname" name="uname" class="form-control">
                <label for="uname" class="font-weight-light">Username</label>
              </div>

              <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="name" name="name" class="form-control">
                <label for="name" class="font-weight-light">Name</label>
              </div>

              <!-- Material input password -->
              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="passw" name="passw" class="form-control">
                <label for="passw" class="font-weight-light">Password</label>
              </div>

              <div class="text-right py-4 mt-3">
                <button class="btn btn-success" type="submit">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <br><br>

<h1>Welcome To Anuan Ituan</h1>
<h2>Login Below</h2><br>

<form action="?" method="POST" onsubmit="register();return false;">
	Username: <input type="text" id="uname" value=""/>
    Name: <input type="text" id="name" value=""/>
  Password: <input type="password" id="passw" value=""/>
	<input class="button" type="submit" value="Login" />
</form>

<br><br>

<p id="stat"></p> -->

</div>

<script>
  function register() {
    var uname = document.getElementById("uname").value;
    var name = document.getElementById("name").value;
    var passw = document.getElementById("passw").value;

    var dat = { 'username': uname, 'name': name, 'password': passw };

    console.log(dat)

    $.ajax('/api/register/', {
      method: 'POST',
      data: JSON.stringify(dat),
      dataType: "json",
      contentType: "application/json",
    }).done(function (res) {

      if (res['status'] == 'success') {
        $("#stat").html('<b>Successful register<b>');
      }
      else {
        $("#stat").html('<b>register Failed</b>');
      }

    }).fail(function (err) {
      $("#stat").html(err);
    });
  }
</script>
{% endblock %}